@import "../../../variables";

.footer {
  background-color: $color-primary;
  height: $height-footer;

  &_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: $color-white;
    padding: 0.5rem 0;

    &_general {
      display: flex;
      align-items: center;
      &_separator {
        margin: 0 1rem;
        height: 60%;
        border-left: 1px solid $color-white;
      }
    }

    &_social {
      display: flex;
      &_item {
        height: 2rem;
        margin: 0 0.7rem;
      }
    }
  }
}
